.layout {
  
    @media screen and (max-width: 767px) {
        margin-left: 1rem;
        margin-right: 1rem;
      }

      @media screen and (min-width: 768px) {
        margin-left: 3rem;
        margin-right: 3rem;
      }

      @media screen and (min-width: 1024px) {
        margin-left: 120px;
        margin-right: 120px;
      
      }
}


